<p>Link Arneson</p>
<img src="<%= asset_path( 'pic.jpg' ) %>"></img>
<p style="color:white; background:green">
  I'm from Alameda now known for in n out but we also have tons of pokemon there
</p>

<p>Sophomore</p>

<p style="color:red"><b> Fun fact: I used to teach web design and look at me now!</b></p>

<p style="color:orange"><u>I am most excited about projects!</u></p>
